<div id='container' class='listsItems'>
  <form ng-submit='createList(newList.name)'>
  	<label for="listName">List Name</label>
    <input class='text' type='text' id='listName' ng-model='newList.name'>

    <input type='submit' value='create list'>
  </form>
</div>

<form>
    <input class='text filter' type='text' name='name' placeholder='filter items' ng-model='listName'>
</form>

<div class='privateLists'>
	<div class='list' ng-repeat='list in lists | filter : {"name" : listName}'>
		<h2>{{ list.name }}</h2>
		<div ng-click='removeList(list.name)'>remove</div>
	</div>
</div>
