<div id='container' class='listsItems'>
<div> showing lists!!!!!</div>
  <form ng-submit='addListItem(newItem.name)'>
  	<label for="itemName">Item Name</label>
    <input class='text' type='text' id='itemName' ng-model='newItem.name'>

    <input type='submit' value='add item'>
  </form>
</div>

<table>
  <tr>
    <th>item</th>
    <div ng-click='retriveListItems()'>get</div>
    <th ng-repeat='store in stores'>{{ store }}</th>
  </tr>

  <tr ng-repeat='item in allListItems' ng-click='removeListItem(item.name)'>
    <td> {{item.name}} </td>
    <td> {{item.itemId['Safeway']}} </td>
    <td> {{item.itemId['Trader Joes']}} </td>
    <td> {{item.itemId['Whole Foods']}} </td>
  </tr>
  <tr class='total'>
    <td> TOTALS </td>
    <td> {{safeway}} </td>
    <td> {{traderjoes}} </td>
    <td> {{wholefoods}} </td>
  </tr>
</table>

<!-- <div>
	<div class='listItem' ng-repeat='item in listItems'>
		<h2>{{ item.name }}</h2>
		<div ng-click='removeListItem(list.name)'>remove</div>
	</div>
</div>
 -->