<div id='container' class='lists'>
  <form ng-submit='createList(newList.name)'>
  	<label for="listName">List Name</label>
    <input class='text' type='text' id='listName' ng-model='newList.name'>

    <input type='submit' value='create list'>
  </form>
</div>

<form>
    <input class='text filter' type='text' name='name' placeholder='filter items' ng-model='listName'>
</form>

<div class='privateLists'>
	<div class='list' ng-repeat='list in lists | filter : {"name" : listName}'>
		<h2 ng-click='setCurrentList(list.name)'>{{ list.name }}</h2>
		<button ng-click='removeList(list.name)'>remove</button>
	</div>
</div>

<!-- <table>
	<tr>
		<th>item name</th>
		<th ng-repeat='store in stores'>{{ store }}</th>
	</tr>

	<tr ng-repeat='item in lists | filter : {"name" : listName}'>
		<td> {{item.name}} </td>
		<td> {{item['Safeway']}} </td>
		<td> {{item['Trader Joes']}} </td>
		<td> {{item['Whole Foods']}} </td>
	</tr>
</table> -->