/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  color: #888;
  font: 300 16px/22px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  ========================================
  Nav styles
  ========================================
*/
.mycontainer {
  margin: 20px auto auto 100px;
}

/*.navigation li {
  float: left;
}*/

.mynav {
  margin-left: 70px;
}

.mylable {
  font-weight: 200;
  /*margin-left: 30px;*/
  /*margin-right: 10px;*/
}

.logo {
  margin-left: 100px;
}

.mytext {
  margin-right: 20px;
}

.myselect {
  margin-left: 20px;
}

.mysubmit {
  margin-left: 20px;
}

.invalid {
  /*margin-left: 30px;*/
  color: red;
}


.public {
  margin-top: 70px;
}

.myTable th{
  padding: 40px 60px 10px 0px;
  font-weight: 600;
}

.yourlists {
  background-color: #EDFDFF;
  margin-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thelist {
  background-color: #F4FFED;
  padding-top: 20px;
  margin-left: 517px;
  margin-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

#hero {
  background-image: url("background.jpg");
}

.private {
  margin-top: 40px;
}

.listName h2{
  font-size: 20px;
  font-weight: 300;
}

.listName {
  margin-top: 10px;
  margin-bottom: 30px;
}

.total td{
  font-weight: 400;
  padding-top: 15px;
}

.bestPrice {
  font-weight: 700;
  color: red;
}